h1 {
    padding: 15px 35px;
}

form {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    padding: 20px;
    margin-left: 17.5px;
}

form,
form button {
    font-size: 21px;
}

form select,
form input {
    font-size: 18px;
}

form>div:not(:last-child) {
    display: grid;
    grid-template-columns: 85px 1fr;
}

form > div:last-child {
    margin-left: 5px;
}

input {
    max-width: 90%;
    background-color: var(--input-bg-color);
    color: var(--color);
    border: none;
    padding: 6px 12px;
}

input:focus {
    outline: solid 2px var(--focus);
}

select {
    max-width: 200px;
    background-color: var(--input-bg-color);
    color: var(--color);
    border: none;
    padding: 6px;
}

button {
    background-color: transparent;
    border: none;
    border: 3px solid var(--main-bg-color);
    color: var(--color);
    padding: 6px 12px;
    fill: var(--main-bg-color);
}

button:hover {
    background-color: var(--hover-bg-color);
}

button:active {
    border: 3px solid var(--focus);
}