.content {
    text-align: center;
    overflow: hidden;
}

h1 {
    padding: 35px 0;
    margin-bottom: 50px;
}

button {
    border: 8px solid var(--color);
    border-radius: 2px;
    background-color: transparent;
    color: var(--color);
    font-size: 28px;
    font-weight: bolder;
    padding: 8px 20px;
}

button:hover {
    background-color: var(--hover-bg-color);
}

.container {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 100px 0px 40px;
    display: flex;
    gap: 16px;
    fill: var(--hover-bg-color);
    justify-content: center;
}

svg {
    width: 180px;
    left: -20vw;

}

#coupe {
    position: absolute;
    animation: drive 2.6s linear 7.6s infinite normal;
}

#sedan {
    position: absolute;
    animation: drive 3.1s linear 5.85s infinite normal;
}

#estate {
    position: absolute;
    animation: drive 3.5s linear 3.9s infinite normal;
}


#hatchback {
    position: absolute;
    animation: drive 3.8s linear 2.3s infinite normal;
}

#pickup {
    position: absolute;
    animation: drive 4.2s linear .2s infinite normal;
}

@keyframes drive {
    from {
        left: -20vw;
    }

    to {
        left: 120vw;
    }
}

@media (max-width: 900px) {
    svg {
        width: 140px;
    }
}

@media (max-width: 500px) {
    svg {
        width: 120px;
        left: -30vw;
    }

    @keyframes drive {
    from {
        left: -30vw;
    }

    to {
        left: 120vw;
    }
}
}

@media (max-width: 400px) {
    svg {
        width: 110px;
        left: -40vw;
    }

    @keyframes drive {
    from {
        left: -40vw;
    }

    to {
        left: 130vw;
    }
}
}